<ion-header>
  <ion-toolbar>
    <ion-title>
      Tareas de hoy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let tarea of tareas">
    <ion-card-header>
      <!-- <ion-img *ngIf="tarea.imagen != ''" [src]="tarea.imagen">Imagen tarea</ion-img> -->
      <ion-card-subtitle>{{tarea.cargo}}</ion-card-subtitle>
      <ion-card-title>{{tarea.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content style="margin-right: 56px">
      {{tarea.descripcion}}
    </ion-card-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="medium">
        <ion-icon name="create"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-card>
</ion-content>
